body,
h1,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: #000;
  color: #666;
  font-family: arial;
}

a {
  text-decoration: none;
  color: #666;
}

/*
	1. 전체 div 레이아웃을 잡고 중앙정렬 해보세요.
	width 960px

	2. Header 영역을 만들어보세요.

	3. 컨텐츠 영역의 레이아웃을 3분의1로 분할하여 만들어보세요.
	Height 500px

	4. 각 영역 안을 꾸며주세요.
	단, p는 400px
	food-wrap에 width값을 따로 주지 마세요.

	5. 마우스오버시에 width가 커지게 해주세요.

	6. about-section 레이아웃을 만들어주세요.
	heihgt:500px;

	7. about-section안의 레이아웃을 꾸며주세요.

	8. 클릭하면 나오게 해주세요.
*/

#section {
	width: 960px;
	margin: 0 auto;
}

.header {}
.header .logo {
	display:inline-block;
	font-size:60px;
	font-weight: 700;
	border-bottom:5px solid #666;
	margin: 20px 0;
}

.wrapper {

}

.wrapper .food-wrapper {
	display: flex;
}

.wrapper .food-wrapper li {
	position: relative;
	width: 33.3334%;
	height: 500px;
	opacity: 0.5;
	/* display: flex;
	align-items: flex-end; */
	background-position: center;
	transition: all 1s;
}

.wrapper .food-wrapper:hover li {
	width:25%;
}

.wrapper .food-wrapper li:hover {
	width:50%;
	opacity: 1;
}

.wrapper .food-wrapper li.cookie {
	background-image: url('images/bg-cookie.png');
}
.wrapper .food-wrapper li.cake {
	background-image: url('images/bg-cake.png');
}
.wrapper .food-wrapper li.crepe {
	background-image: url('images/bg-crepe.png');
}

.wrapper .food-wrapper li .food-wrap {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	background-color: rgba(0,0,0,0.85);
	margin: 20px;
	padding: 15px;
	border-radius: 15px;
	overflow: hidden;
}

.wrapper .food-wrapper li .food-wrap h3 {
	margin-bottom: 20px;
}

.wrapper .food-wrapper li .food-wrap p {
	width: 400px;
}

.wrapper .food-wrapper li:hover .food-wrap h3 {
	color:orange;
}